// layout/_header.scss

@use "../abstracts/variables" as *;

.site-header {
    background-color: $warna-utama;
    color: $warna-putih;
    text-align: center;
    padding: $spacing-lg $spacing-md;

    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
    }
}