// base/_base.scss

@use "../abstracts/variables" as *;

body {
    margin: 0;
    color: $warna-teks;
    background-color: $warna-putih;
}

// utility spacing menggunakan @each

$spacing-map: (
    "sm": $spacing-sm,
    "md": $spacing-md,
    "lg": $spacing-lg,
    "xl": $spacing-xl  
);

@each $name, $value in $spacing-map {
    .gap-#{$name} {
        gap: $value;
    }
}